{% extends 'login/base.html' %}
{% block title %}Welcome{% endblock %}

{% block body %}

<div>
	<div class="container-fluid" style=" height: 120px; background-color: darkblue">
			<h1 style="text-indent: 15cm"><font color="white">SocialNet</font></h1>
			<h4 style="text-indent: 15cm"><font color="white">Welcome</font></h4>
	</div>
</div>

<div class="container-fluid">
	<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="container-fluid">
			<div class="col-lg-offset-5 col-sm-7" style="padding: 20px">
				<a href="{% url 'login:register' %}">Register here</a>
			</div>
			{% include 'login/form-template.html' %}
			<div class="col-xs-offset-2 col-xs-10" style="padding: 10px">
				<div class="form-check">
					<input type="radio" class="form-check-input" id="materialUnchecked" name="radio_btn" value = "1" required>
					<label class="form-check-label" for="materialUnchecked">Casual User</label>
					<input type="radio" class="form-check-input" id="materialUnchecked" name="radio_btn" value = "2">
					<label class="form-check-label" for="materialUnchecked">Premium User</label>
					<input type="radio" class="form-check-input" id="materialUnchecked" name="radio_btn" value = "3">
					<label class="form-check-label" for="materialUnchecked">Commercial User</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-1">
					<a href="{% url 'login:password_reset' %}">Forgot password?</a>
				</div>
				<div class="col-xs-1">
					<button type="submit" class="btn btn-success">Log In</button>
				</div>
			</div>
		</div>
	</form>
</div>


{% endblock %}