{% extends 'login/base.html' %}
{% block title %}Password Reset{% endblock %}
{% block body %}

<div style="padding-bottom: 1cm">
	<div class="container-fluid" style=" height: 120px; background-color: darkblue">
		<h1 style="text-indent: 15cm"><font color="white">Password Reset Initiated</font></h1>
	</div>
</div>

<div class="container">
	<div class="container-fluid">
		<div class="col-lg-offset-2 col-sm-10" style="padding: 20px">
			<h4>Password reset link has been send to your email. Please check you mailbox and click on the link to proceed with password reset.</h4>
		</div>
	</div>
</div>
{% endblock %}