{% extends 'login/base.html' %}
{% block title %}Password Request{% endblock %}

{% block body %}

<div style="padding-bottom: 1cm">
	<div class="container-fluid" style=" height: 120px; background-color: darkblue">
		<h1 style="text-indent: 15cm"><font color="white">Request Password</font></h1>
		<h4 style="text-indent: 15cm"><font color="white">Enter registered email address to which the reset link is to be sent</font></h4>
	</div>
</div>

<div class="container">
	<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="container-fluid">
			{% include 'login/form-template.html' %}
			<div class="form-group text-center">
				<div class="col-xs-offset-3 col-xs-1 ">
					<button type="submit" class="btn btn-warning">Send mail</button>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock %}