{% extends 'commercial_user/base.html' %}

{% block body %}

<script>
    $(window).load(function(){
        $('form').get(0).reset();
    });

</script>


<div style="padding-bottom: 1cm">
	<div class="container-fluid" style=" height: 120px; background-color: darkblue">
        <h1 style="text-indent: 15cm"><font color="white">Welcome</font></h1>
        <h4 style="text-indent: 15cm"><font color="white">{{ bundle.name }}</font></h4>
	</div>
</div>

<div class="container" style="padding: 2cm">

    <div class="card bg-dark text-white" style="padding: 1cm">
        <h4 class="card-title">Send Message</h4>
        <div class="card-header"> 
        </div>
        <div class="card-body">
            <form id="messageForm" name="mform" method="POST">
            {% csrf_token %}    
            <textarea name="messagearea" rows="8" cols="80" form="messageForm" placeholder="Write your message here." required></textarea>
        </div>
         <div class="card-footer">
            <div class="container">
                <button type="submit" name="send">Send</button>
            </div>
            </form>
        </div>
    </div>

    {% if msg.updatemessages %}

        {% for message in msg.updatemessages %}
            <div class="card bg-light text-dark" style="padding: 1cm">
                <div class="card-header">
                </div>
                <div class="card-body">
                    {{ message }}
                </div>
                <div class="card-footer">
                </div>
            </div>
        {% endfor %}

    {% else %}

        <div class="card" style="padding: 1cm">
            <div class="card-header">
                <h2>Empty inbox!</h2>
            </div>
            <div class="card-body">
            </div>
            <div class="card-footer">
            
            </div>
        </div>
    {% endif %}
</div> 
{% endblock %}