{% extends 'commercial_user/basepage.html' %}
{% block title %}Verify Account{% endblock %}

{% block body %}

<div>
	<div class="container-fluid" style=" height: 120px; background-color: darkblue">
			<h1 style="text-indent: 15cm"><font color="white">Commercial User Verification Status</font></h1>
			<!--<h4 style="text-indent: 15cm"><font color="white">Enter amount</font></h4>-->
	</div>
</div>
{% if commercial_user.status == 3 %}
<div class="container-fluid">
		<div class="container-fluid" style="padding: 2cm">
			You are denied commercial user account services by the admin. 
			If you still want to access SocialNet, register with a casual or premium account.   
			<a href="{% url 'login:register' %}"> Click here 
			</a> to go to register page.
		</div>
</div>
{% endif %}
{% if commercial_user.status == 2 %}
<div class="container-fluid">
		<div class="container-fluid" style="padding: 2cm">
			Youe account is already verified.   
			<a href="{% url 'commercial_user:addmoneytosubscribe' %}"> Click here 
			</a> to add money and subscribe to access commercial user account.
		</div>
</div>
{% endif %}
{% if commercial_user.status != 3 %}
<div class="container">
	<div class="col-sm-offset-1 col-sm-10">
		<table class="table table-striped table-bordered text-center">
			<thead>
				<tr>
					<th class="text-center text-uppercase">Field</th>
					<th class="text-center text-uppercase">Button</th>
					
				</tr>
			</thead>
			<tbody>
			<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
				<!--<form action="" method="post">--> 
			{% csrf_token %}     
				<tr>
					<td>{% include 'commercial_user/form-template2.html' %}</td>
				{% if commercial_user.status == 1 %}	
					<td> <input type="submit" name= "buttonid2" class="btn btn-primary" value="Verify-Account" /> </td>
				{% endif %}
				{% if commercial_user.status == 2 %}	
					<td> <input type="submit" name= "buttonid2" class="btn btn-primary" value="Verified" disabled/> </td>
				{% endif %}
			</form>
			</tbody>
		</table>
	</div>
</div> 
{% endif %}


{% endblock %}