{% block title %}{% endblock %}

{% block body %}

<div style="padding-bottom: 1cm">
        <div class="container-fluid" style=" height: 120px; background-color: darkblue">
            <h1 style="text-indent: 15cm"><font color="white">{{ bundle.title}}</font></h1>
            <h4 style="text-indent: 15cm"><font color="white">By: {{ bundle.author }}</font></h4>
        </div>
    </div>
<div class="container">
    <div class="card bg-light text-dark" style="padding: 1cm">
        <div class="card-header">
        </div>
        <div class="card-body">
            {{ bundle.body }}
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>

{% endblock %}
