{% extends 'casual_user/base.html' %}

{% block body %}

<div style="padding-bottom: 1cm">
	<div class="container-fluid" style=" height: 120px; background-color: darkblue">
        <h1 style="text-indent: 15cm"><font color="white">Welcome</font></h1>
        <h4 style="text-indent: 15cm"><font color="white">{{ bundle.name }}</font></h4>
	</div>
</div>

<div class="container" style="padding: 2cm">

    <div class="card bg-dark text-white" style="padding: 1cm">
        <h4 class="card-title">Create Post</h4>
        <div class="card-header">
        </div>
        <div class="card-body">
            <form id="postForm" name="pform" method="POST">
            {% csrf_token %}
            <textarea name="postarea" rows="8" cols="80" form="postForm" placeholder="What's on your mind?" required></textarea>
        </div>
        <div class="card-footer">
            <div class="container">
                <label>Scope: </label>
                <select name="level">
                    <option value="0">Friends</option>
                    <option value="1">Public</option>
                </select>
                <button type="submit" name="postButton">Post</button>
            </div>
            </form>
        </div>
    </div>

    {% if bundle.posts %}

        {% for post in bundle.posts %}
            <div class="card bg-light text-dark" style="padding: 1cm">
                <div class="card-header">
                </div>
                <div class="card-body">
                    {{ post }}
                </div>
                <div class="card-footer">
                </div>
            </div>
        {% endfor %}

    {% else %}

        <div class="card" style="padding: 1cm">
            <div class="card-header">
                <h2>No posts yet!</h2>
            </div>
            <div class="card-body">
            </div>
            <div class="card-footer">
            
            </div>
        </div>
    {% endif %}
</div> 
{% endblock %}