{% extends 'login/base.html' %}
{% block title %}Plan successfully selected{% endblock %}
{% block body %}

<div style="padding-bottom: 1cm">
	<div class="container-fluid" style=" height: 120px; background-color: darkblue">
		<h1 style="text-indent: 15cm"><font color="white">Plan selected</font></h1>
	</div>
</div>

<div class="container">
	<div class="container-fluid">
		<div class="col-lg-offset-2 col-sm-10" style="padding: 20px">
			{% for key, value in bundle.items %}
                {% if key %}
                    <h4>{{ value }} You exceed the number of group's formed limit.</h4> 
                    <h4> Click here <a href="{% url 'premium_user:groupplan' %}">to select your plan.</a></h4>
                {% else %}
                    <h4>{{ value }} You have not selected any plan yet.</h4> 
                    <h4> Click here <a href="{% url 'premium_user:groupplan' %}">to select your plan.</a></h4>
                {% endif %}
            {% endfor %}
		</div>
	</div>
</div>
{% endblock %}